<% provide(:title, "Packages") %>
<h1>Select Your Package</h1>


<!-- Button trigger modal -->
<div class="row top-buffer">
<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#freePackage">
  Pay Only When You Sell
</button>
</div>

<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
  $1,200 SGD
</button>
</div>
</div>

<!-- Button 1 -->
<div class="modal fade" id="freePackage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">$2,000 SGD After Sold!</h4>
      </div>
      <div class="modal-body">
        This is our ‘pay only when you sell’ option and is our edge over our online competitors who may charge you whether you sell or not. Sign up with nothing to pay upfront and just £995 (inc vat) on completion. We’ll visit your home to compile professional photos and a floor-plan, we’ll list your ad on Rightmove and the other major UK property portals, arrange viewings, negotiate offers and progress your sale. A for sale board is included.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button 2  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">$1,200 SGD ONLY (LIMITED TIME OFFER)</h4>
      </div>
      <div class="modal-body">
        Pay upfront for our discounted deal at just £595 (inc vat). There’s nothing further to pay. Pay now by credit or debit card, or by Paypal and we’ll ensure your home is listed swiftly on Rightmove and all of the major UK property portals. This is our best value package and includes a home visit, professional photos, a floor-plan, viewing scheduling, offer negotiation, sales progression and a for sale board. Full service estate agency. No cut corners. And you have our unique Money Back Guarantee!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>